h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5;
  font-style: italic;
}
h1 {
  margin: 0;
  padding: 0;
  border: none;
}
.byline {
  font-size: 10;
  color: ##A4A4A4;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.headline {
  font-size: 20;
  link-color: #BF5700;
  margin: 0px;
  padding: 0px;
}
a:link {
  color:#BF5700;
}
a:visited {
  color: #BF5700;
}
.paragraph {
  margin: 0px;
  padding: 0px;
}
.firststory {
  background-color: #BDBDBD;
  font-size: 125%;
  padding: 5;
  padding-left: 5;
}
.moreon {
  border-bottom-style: solid;
  padding: 5px;
  border-spacing: 0px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}
body {
  background-color: grey;
}
.left-column {
  width: 70%;
  float-left;
  overflow: auto;
  box-sizing: border-box;
}
.right-column {
  width: 30%;
  float: right;
  overflow: auto;
  box-sizing: border-box; 
}
